@model Nemesys.ViewModels.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "View Report - " + Model.TitleOfReport;
}

<div class="container px-4 py-5">
    <section>
        <h2 class="display-5 font-weight-bold mb-4 text-center">@Model.TitleOfReport</h2>

        <!-- Report Information -->
        <div class="mb-4">
            <h3 class="h5 font-weight-semibold mb-3">Report Information</h3>
            <p class="text-secondary mb-4">@Model.Description</p>
        </div>

        <!-- Image Section -->
        <div class="d-flex mb-4">
            <div class="flex-fill p-4 mr-2 text-center">
                @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="Report Image" class="img-fluid" />
                }
                else
                {
                    <div class="bg-secondary p-4">No Images Available.</div>
                }
            </div>
            <div class="flex-fill bg-secondary p-4">
                <h3 class="h5 font-weight-semibold mb-3">Report Parameters</h3>
                <div class="text-white bg-dark p-2 mb-2">
                    <strong>Date of Report:</strong> @Model.DateOfReport.ToString("yyyy-MM-dd")
                </div>
                <div class="text-white bg-dark p-2 mb-2">
                    <strong>Hazard Location:</strong> @Model.HazardLocation
                </div>
                <div class="text-white bg-dark p-2">
                    <strong>Type of Hazard:</strong> @Model.TypeOfHazard
                </div>
            </div>
        </div>
        <!-- Additional Report Details -->
        <div>
            <h3 class="h5 font-weight-semibold">Additional Details</h3>
            <p><strong>Status:</strong> @Model.Status</p>
            <p><strong>Spotted On:</strong> @Model.DateAndTimeSpotted.ToString("MMMM dd, yyyy HH:mm")</p>
            <p><strong>Upvotes:</strong> @Model.Upvotes</p>
        </div>
    </section>
</div>

<a asp-controller="Report" asp-action="Index" class="btn btn-primary">Back to List</a>
