@model Nemesys.ViewModels.ReportListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reports";
}

<div class="container px-4 py-5">
    <h2 class="mb-4">Showing @Model.TotalEntries Reports</h2>

    <div class="d-flex justify-content-center mb-3">
        <form asp-controller="Report" asp-action="MyReports" method="get" class="form-inline my-2 my-lg-0">
            <label for="sortOrder" class="mr-2">Sort by:</label>
            <select name="sortOrder" onchange="this.form.submit()" class="form-control mr-sm-2">
                <option value="">Select...</option>
                <option value="Upvotes">Upvotes</option>
                <option value="DateOfReport">Date of Report</option>
            </select>
            <label for="status" class="mr-2">Status:</label>
            <select name="status" onchange="this.form.submit()" class="form-control mr-sm-2">
                <option value="All">All</option>
                <option value="Reported">Reported</option>
                <option value="Under Review">Under Review</option>
                <option value="Resolved">Resolved</option>
            </select>
        </form>
    </div>


    @foreach (var report in Model.Reports)
    {
        <div class="card mb-3 animate__animated animate__fadeIn" style="max-width: 85vw;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    @if (!string.IsNullOrWhiteSpace(report.ImageUrl))
                    {
                        <img src="@report.ImageUrl" class="card-img" alt="Report visual" style="width: 325px; height: 350px; object-fit: cover;">
                    }
                    else
                    {
                        <img src="https://placehold.co/300x350" class="card-img" alt="Report visual placeholder">
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #141414;">@report.TitleOfReport</h3>
                        <p class="card-text text-secondary">
                            @report.Description
                        </p>
                        <p class="card-text" style="font-size: 1.25rem;">
                            <small class="text-muted">Reported on @report.DateOfReport.ToString("d")</small>
                        </p>
                        <p class="card-text" style="font-size: 1.25rem;">
                            <small class="text-muted">Status: @report.Status</small>
                        </p>
                        <div class="d-flex">
                            <a asp-controller="Report" asp-action="Details" asp-route-id="@report.ReportId" class="btn btn-dark text-secondary py-2 px-4 mr-2">View Report</a>
                            <a asp-controller="Report" asp-action="Edit" asp-route-id="@report.ReportId" class="btn btn-dark text-secondary py-2 px-4 mr-2">Edit Report</a>
                            <a asp-controller="Report" asp-action="Delete" asp-route-id="@report.ReportId" class="btn btn-dark text-secondary py-2 px-4 mr-2">Delete Report</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="d-flex justify-content-end align-items-center">
                        <button type="button" class="btn">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <span class="text-dark mx-2">@report.Upvotes</span>
                        <button type="button" class="btn">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
