<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <title>@ViewData["Title"] - Nemesis</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nemesis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white d-flex flex-column min-vh-100">

<header class="d-flex justify-content-between align-items-center py-2 bg-secondary text-sm px-3">
    @RenderSection("CustomHeader", required: false)
    @if (!IsSectionDefined("CustomHeader"))
    {
        <a asp-controller="Home" asp-action="Index" class="h2 font-weight-bold text-light text-decoration-none">Nemesys</a>
        <div class="d-flex align-items-center">

            @if (User.IsInRole("Reporter"))
            {
                <!-- If user has reporter role-->
                    <a asp-controller="Report" asp-action="Create" class="h5 text-white mr-4 font-weight-lighter medium">Log Report</a>
                    <a asp-controller="Report" asp-action="MyReports" class="h5 text-white mr-4 font-weight-lighter medium">My Reports</a>
            }
            @if (User.IsInRole("Investigator"))
            {
                <!-- If user has investigator role-->
                    <a asp-controller="Investigation" asp-action="MyInvestigations" class="h5 text-white mr-4 font-weight-lighter medium">My Investigations</a>
            }
                <a asp-controller="Home" asp-action="HallOfFame" class="h5 text-white mr-4 font-weight-lighter medium">Hall Of Fame</a>

            <!-- Profile Icon with Dropdown -->
            <div class="dropdown">
                <button id="profileMenuButton" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenuButton">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>

        </div>
    }
</header>


    <main class="flex-grow" style="padding: 50px;">
    @RenderBody()
    </main>

    @RenderSection("CustomFooter", required: false)
    @if (!IsSectionDefined("CustomFooter"))
    {
        <footer class="bg-secondary text-center text-sm px-3 py-2">
            <div class="d-flex mt-3 mb-3 justify-content-between">
                <a href="@Url.Action("Privacy", "Home")" class="text-lg text-decoration-none text-white">Privacy Policy</a>
                <span class="text-lg text-white">Copyright Nemesys Inc.</span>
                <a href="@Url.Action("Support", "Home")" class="text-lg text-decoration-none text-white">Support</a>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
